/* header css */
#body_header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_left_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header_left_div_iconback_div {
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  top: 10px;
}
.main_left_nav_icons {
  width: 24px;
  height: 24px;
  position: relative;
  top: 20px;
}
/* center */
#header_center_div {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_center_div_div {
  max-width: 100%;
  width: 520px;
  height: 40px;
  background-color: #131212;
  border: 1px solid #5a5a5a;
}
#header_center_div_text {
  width: 87%;
  height: 24px;
  position: relative;
  bottom: 8px;
  border: #ffffff;
  background-color: #131212;
}
#header_center_div_button_search {
  width: 12%;
  height: 40px;
  text-align: center;
  background-color: #303030;
  border: #ffffff;
}
#header_center_div_iconback_mic {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #131212;
  border: #ffffff;
  text-align: center;
  position: relative;
  left: 5px;
}
#header_center_div_icon_mic {
  position: relative;
  top: 7px;
}
/* right */
#header_right_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_right_div_iconback_div {
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  top: 10px;
}

/* main css */
#body_main {
  display: flex;
  height: 100%;
  position: relative;
  top: 20px;
}
/* main nav css */
#main_left_nav {
  width: 72px;
  height: 100%;
  text-align: center;
}
.main_nav_div {
  width: 72px;
  height: 74px;
}
.main_nav_div:hover {
  background-color: #424242;
  transition: width 1s;
}
.main_nav_div:active {
  background-color: #303030;
}
/* hidden nav */
/* #header_left_img.active {
  
} */
#main_left_hidden_nav {
  display: none;
  width: 240px;
  height: 100%;
  background-color: #212121fa;
  position: fixed;
  top: 0px;
  z-index: 1;
  /* z-index는 수직 속성을 설정하는 것이다.즉 z축 속성 설정 */
}
#main_left_hidden_nav_topdiv {
  display: flex;
  height: 56px;
}
#main_hidden_nav_div_youtubuimg {
  position: relative;
  left: 80px;
}
.main_hidden_nav_div {
  height: 50px;
}
.main_hidden_nav_div:hover {
  background-color: #424242;
}
.main_hidden_nav_div:active {
  background-color: #303030;
}
.main_hidden_nav_textdiv {
  width: 50px;
  position: relative;
  left: 100px;
  bottom: 5px;
  color: white;
}
.hidden_nave_icons {
  width: 24px;
  height: 24px;
  position: relative;
  left: 30px;
  top: 15px;
}
/* main center css */
#main_center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #131212;
}
.main_center_div {
  width: 25%px;
  height: 310px;
  position: relative;
  top: 10px;
  left: 10px;
  margin: 5px;
}
.main_center_div_img {
  width: 320px;
  height: 170px;
}
.main_center_div_details_icon {
  width: 36px;
  height: 36px;
  border-radius: 30px;
}
.main_center_div_details {
  display: flex;
  position: relative;
  top: 10px;
}
.main_center_div_details_contens {
  position: relative;
  left: 15px;
}
.main_center_div_details_contens_title {
  font-size: 18px;
  color: #ffffff;
}
.main_center_div_details_contens_from {
  font-size: 8px;
  color: #aaaaaa;
}
.min_center_div_details_contens_visitcnt {
  font-size: 8px;
  color: #aaaaaa;
}
/* media query */
/* @media only screen and(min-width: 1080px) and (max-width: 1400px) {
  .main_center_div {
    width: 33%;
  }
  .main_center_div_img {
    width: 360px;
  }
} */
@media (max-width: 1400px) {
  #main_center {
    text-align: center;
  }
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 30%;
  }
  .main_center_div_img {
    width: 350px;
    height: 190px;
  }
}
@media (max-width: 1220px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 45%;
  }
  .main_center_div_img {
    width: 380px;
    height: 200px;
  }
}
@media (max-width: 960px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 45%;
  }
  .main_center_div_img {
    width: 370px;
    height: 180px;
  }
}
@media (max-width: 930px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 45%;
  }
  .main_center_div_img {
    width: 350px;
    height: 175px;
  }
}
@media (max-width: 850px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 45%;
  }
  .main_center_div_img {
    width: 340px;
  }
}
@media (max-width: 820px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 45%;
  }
  .main_center_div_img {
    width: 330px;
  }
}
@media (max-width: 800px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 45%;
  }
  .main_center_div_img {
    width: 320px;
  }
}
@media (max-width: 800px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 90%;
  }
  .main_center_div_img {
    width: 390px;
    height: 230px;
  }
}
@media (max-width: 790px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 90%;
  }
  .main_center_div_img {
    width: 380px;
    height: 210px;
  }
}
@media (max-width: 500px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 90%;
  }
  .main_center_div_img {
    width: 320px;
  }
}
@media (max-width: 450px) {
  .main_center_div {
    /* max-width: 30%;
    width: 350px; */
    width: 90%;
  }
  .main_center_div_img {
    width: 300px;
  }
  #main_left_nav {
    display: none;
  }
}
/* @media (max-width: 1000px) {
  .main_center_div {
    width: 360px;
  }
} */

@media (max-width: 750px) {
  #header_center_div {
    width: auto;
    height: 40px;
  }
  #header_center_div_div {
    max-width: 100%;
    width: 250px;
    height: 40px;
  }
  #header_center_div_text {
    width: 85%;
    height: 24px;
    position: relative;
    bottom: 8px;
  }
  #header_center_div_button_search {
    width: 13%;
    height: 40px;
  }
}

@media screen and (max-width: 700px) {
  #header_center_div_text {
    display: none;
  }
  /* #header_center_div_button_search {
    background-color: #303030;
  } */
  #header_center_div_div {
    display: none;
  }
  #header_center_div_iconback_mic {
    /* background-color: #303030;??사라지게 하고 싶은데?? */
    border-radius: 0%;
    border: #303030;
  }
}
